* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    font-weight: 800;
}
div {
    margin: 40px;
}
input {
  
  padding: 5px;
  width: 150px;
  height: 30px;
  font-size: 20px;
  background-color: #427110;
  color: blanchedalmond;
  border: none;
  outline: none;
}
button {
  width: 50px;
  height: 30px;
  font-size: 20px;
  background-color: blueviolet;
  border: none;
  color: beige;
}
table {
  border-collapse: collapse;
  margin: 10px 0;
}
td {
  width: 150px;
  height: 30px;
  padding: 5px 0 5px 10px;
  background-color: #427110;
  color: blanchedalmond;
}
